<a href="/">
    <h1>Studybud</h1>
    <div class="topnav">
        <a class="active" href="home">Home</a>
        <a href="news">News</a>
        <a href="contact">Contact Us</a>
        <a href="about">About Us</a> 
      </div>
</a>
<form action="{% url 'home' %}" method="GET">
  <input type="text" name="q"  placeholder="Search Rooms...."/>
</form>

{% if request.user.is_authenticated %}
<p>Hello {{request.user}}</p>
<a href="{% url 'logout' %}"> Log out</a>

{% else %}


<a href="{% url 'login' %}"> Log in </a>
{% endif %}
<hr>