
<title>Data</title>
{% extends 'layout.html'%}

{% block content %}
<h1> Student Record</h1>
<hr>
{% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}


{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <label for="name">Name</label><br>
    <input type="text" name="name" id="name" required> <br>
    <label for="address">Address</label><br>
    <input type="text" name="address" id="address" required>
    <br>
    <label for="phone">Phone</label><br>
    <input type="text" name="phone" id="phone" 
    required>
    <br> <br>

    <button>Add Record</button>
    <br><br>
    <caption>Students Table</caption>
    <table border="1" width="100%">
        

        <tr>
            <th>S.n</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{ student.name}}</td>
            <td>{{ student.address }} </td>
            <td>{{ student.phone}}</td>
            <td> 
                <a href="{% url 'update' student.id %}">Edit</a>
                <a href="{% url 'delete' student.id %}" onclick="return confirm('Are you sure?')">Delete</a>
            </td>
        </tr>
        
        
        {% endfor %}
    </table>

</form>


{% endblock %}